<form [formGroup]="demoItemForm" (ngSubmit)="onSubmit(demoItemForm.value)">
  <label for="input-desc">Description</label>
  <input type="text"
         id="input-desc"
         [formControl]="demoItemForm.controls['description']"
         required>

  <label for="input-cost">Cost</label>
  <input type="number"
         step="0.01"
         min="0"
         id="input-cost"
         [formControl]="demoItemForm.controls['cost']"
         required>

  <label for="input-description">Description</label>
  <textarea id="input-description"
            [formControl]="demoItemForm.controls['detail']"
            required>
  </textarea>

  <button type="submit" [disabled]="!demoItemForm.valid">Submit</button>
  <button type="button" class="cancel-button" (click)="onCancel()">Cancel</button>
</form>
